<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">
            Home
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="/add_connector">
                Add Connector
              </a>
              <a class="navbar-item" href="/add_cluster">
                Add Cluster
              </a>
              <a class="navbar-item" href="/list_connector">
                Connector's List
              </a>
              <a class="navbar-item" href="/list_cluster">
                Cluster List
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">
                Log in
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
    <section class="section">
        <h1 class="title">Connector's List</h1>
        <h2 class="subtitle">
          The List of Connectors
        </h2>
    </section>
    </div>
    <div class="container">

    <div class="container">
    <form method="POST">
    <div class="table-container">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Connector's Name</th>
                    <th>Worker's Port</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for connector in connector_list %}
                <tr>
                    <td>{{connector.name}} <a href="{{ url_for('views.remove_fromdb', id=connector.id)}}" class="button is-danger is-inverted is-small">Remove</a></td>
                    <td>{{connector.worker_port}}</td>
                    <td>
                      <a href="{{ url_for('views.config_connector', id=connector.id)}}" class="button is-info">Config</a>
                      <a href="{{ url_for('views.pause_connector', id=connector.id)}}" class="button is-warning">Pause</a>
                      <a href="{{ url_for('views.resume_connector', id=connector.id)}}" class="button is-success">Resume</a>
                      <a href="{{ url_for('views.delete_connector', id=connector.id)}}" class="button is-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
  </form>
  </body>
</html>